<section id="about">
    <h2>About me</h2>
    <p>
        I'm a data scientist/data analyst with a background in
        economics, statistics and econometrics.
    </p>
    <p>
        I hold a Master's in Information Systems and Decision Support,
        and I've worked on data projects in both private companies and
        public institutions.
        I’m currently looking for a position where I can apply my skills 
        and insights to contribute to effective decision-making.
    </p>
</section>