<section id="skills">
    <h2>Skills & Tools</h2>
    <p>Click a tool to see the projects where I used it.</p>

    <ul class="tools-list">
        <!-- icon found on https://icons8.com/icons/ -->
         <!-- <li><a href="{{ '/tools/#api' | relative_url }}">
                <img src="{{ '/assets/images/logos/api_icon.jpg' | relative_url}}" class="icon-argis">
                <span>Api</span>
            </a>
        </li> -->
        <li><a href="{{ '/tools/#argis' | relative_url }}">
                <img src="{{ '/assets/images/logos/argis_icon.png' | relative_url}}" class="icon-argis">
                <span>Argis</span>
            </a>
        </li>
        <!-- <li><a href="{{ '/tools/#ai' | relative_url }}">
                <img src="{{ '/assets/images/logos/ai_agent_icon.png' | relative_url}}" class="icon">
                <span>Ai agent</span>
            </a>
        </li> -->
        <li><a href=" {{ '/tools/#dataiku' | relative_url }}">
                <img src="{{ '/assets/images/logos/dataiku_icon.png' | relative_url}}" class="icon">
                <span>Dataiku</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#deep_learning' | relative_url }}">
                <img src="{{ '/assets/images/logos/deep_learning_icon.png' | relative_url}}" class="icon">
                <span>Deep learning</span>
            </a>
        </li>
        <!-- <li><a href="{{ '/tools/#docker' | relative_url }}">
                <img src="{{ '/assets/images/logos/docker_icon.png' | relative_url}}" class="icon">
                <span>Docker</span>
            </a>
        </li> -->
        <li><a href="{{ '/tools/#git' | relative_url }}">
                <img src="{{ '/assets/images/logos/git_icon.png' | relative_url}}" class="icon">
                <span>Git</span>
            </a>
        </li>
        <!-- <li><a href=" {{ '/tools/#llm' | relative_url }}">
                <img src="{{ '/assets/images/logos/llm_icon.png' | relative_url}}" class="icon">
                <span>LLM</span>
            </a>
        </li> -->
        <li><a href=" {{ '/tools/#machine_learning' | relative_url }}">
                <img src="{{ '/assets/images/logos/machine_learning_icon.png' | relative_url}}" class="icon">
                <span>Machine learning</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#nlp' | relative_url }}">
                <img src="{{ '/assets/images/logos/nlp_icon.png' | relative_url}}" class="icon">
                <span>NLP</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#numpy' | relative_url }}">
                <img src="{{ '/assets/images/logos/numpy_icon.png' | relative_url}}" class="icon">
                <span>Numpy</span>
            </a>
        </li>
        <li>
            <a href="{{ '/tools/#python' | relative_url }}">
                <img src="{{ '/assets/images/logos/python_icon.png' | relative_url}}" class="icon">
                <span>Python</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#pandas' | relative_url }}">
                <img src="{{ '/assets/images/logos/pandas_icon.png' | relative_url}}" class="icon">
                <span>Pandas</span>
            </a>
        </li>
        <li><a href="{{ '/tools/#power_bi' | relative_url }}">
                <img src="{{ '/assets/images/logos/power_bi_icon.png' | relative_url}}" class="icon">
                <span>Power BI</span>
            </a>
        </li>
        <li><a href="{{ '/tools/#qgis' | relative_url }}">
                <img src="{{ '/assets/images/logos/qgis_icon.png' | relative_url}}" class="icon">
                <span>Qgis</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#r' | relative_url }}">
                <img src="{{ '/assets/images/logos/r_icon.png' | relative_url}}" class="icon">
                <span>R</span>
            </a>
        </li>
        <!-- <li><a href=" {{ '/tools/#rag' | relative_url }}">
                <img src="{{ '/assets/images/logos/rag_icon.jpg' | relative_url}}" class="icon">
                <span>RAG</span>
            </a>
        </li> -->
        <li><a href=" {{ '/tools/#sas' | relative_url }}">
                <img src="{{ '/assets/images/logos/sas_icon.png' | relative_url}}" class="icon">
                <span>Sas</span>
            </a>
        </li>
        <li><a href=" {{ '/tools/#semarchy' | relative_url }}">
                <img src="{{ '/assets/images/logos/semarchy_icon.png' | relative_url}}" class="icon">
                <span>Semarchy</span>
            </a>
        </li>
        <!-- <li><a href=" {{ '/tools/#snowflake' | relative_url }}">
                <img src="{{ '/assets/images/logos/snowflake_icon.png' | relative_url}}" class="icon">
                <span>Snowflake</span>
            </a>
        </li> -->
        <li><a href=" {{ '/tools/#scikit_learn' | relative_url }}">
                <img src="{{ '/assets/images/logos/scikit_learn_icon.jpg' | relative_url}}" class="icon-sci">
                <span>Scikit-learn</span>
            </a>
        </li>
        <li><a href="{{ '/tools/#sql' | relative_url }}">
                <img src="{{ '/assets/images/logos/sql_icon.png' | relative_url}}" class="icon">
                <span>SQL</span>
            </a>
        </li>
        <!-- <li><a href=" {{ '/tools/#vba' | relative_url }}">
                <img src="{{ '/assets/images/logos/vba_icon.png' | relative_url}}" class="icon">
                <span>VBA</span>
            </a>
        </li> -->

       
        
       



        
    </ul>
</section>